<li>
  <ul><strong>
    <%= event.name %>
    </strong><ul><br>
    <%= event.description %>
    </ul>
  </ul>
  Posted <%= time_ago_in_words(event.created_at) %> ago by <%= link_to event.user.name, event.user %>
</li> 
<br>
