<h1>Events Show</h1>
<p>This events creater is <strong><%= @event.user.name %></strong></p>

<p>Attendees so far are</p>

<li><% @attendees.each do |f| %>
	<ul>
		<%= f.user.name %>
	</ul>
<% end %></li>	
